version: '3.7'

services:
  client:
    stdin_open: true    
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - './:/app'
      - '/app/node_modules'