* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
}

/* ************ */

/* ** HEADER ** */

/* ************ */

header {
	width: 100%;
	height: auto;
	margin: 0 auto;
	box-shadow: 1px 0 10px -5px #000;
}
header .headerin {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 120px;
}
header .headerin .logo {
	width: 180px;
	height: auto;
}

/* ************ */

/* ** FOOTER ** */

/* ************ */

footer {
	width: 100%;
	margin: 0 auto;
	padding: 24px 0;
	border-top: 1px solid #252759; 
}

footer .footerin {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}

footer .footerin .w40 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer .footerin h3 {
	font-size: 20px;
	margin: 0 0 15px 0;
	padding: 0;
	color: #252759;
	font-family: 'Montserrat', sans-serif;
}

footer .footerin button {
	padding: 10px 20px;
	border: 1px solid #0455bf;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	color: #fff;
	background-color: #0455bf;
	cursor: pointer;
}

footer .footerin button:hover {
	background-color: #003474;
	outline: none;
}

footer .footerin a {
	text-decoration: none;
}

footer .footerin .w30 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

footer .footerin .w30 .links {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

footer .footerin .w30 .links a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	color: #252759;
	margin-bottom: 10px;
}

footer .footerin .w30 .media-links {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

footer .footerin .w30 .media-links .first-row {
	display: flex;
	align-items: center;
}

footer .footerin .w30 .media-links .second-row {
	display: flex;
	align-items: center;
}

footer .footerin .w30 .media-links img {
	width: 100px;
	height: auto;
	margin: 10px 10px 10px 0;
}

footer .footerin .w30 .media-links #square {
	height: 30px;
	width: auto;
}

footer #cookieData .closebtn {
	float: right;
}

/* ***************** */

/* ** COPYRIGHT ** */

/* ***************** */

.copyright {
	background-color: #1e2248;
	width: 100%;
	margin: 0 auto;
}

.copyright p {
	font-size: 14px;
	color: #fff;
	padding: 20px;
}

/* ************ */

/* ** COOKIE ** */

/* ************ */

#cookieData .cookie-title {
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: 100%;
}

#cookieData .cookie-title h3 {
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
	color: #252759;
	opacity: 1;
}
#cookieData .cookie-title img {
	width: 30px;
	height: 30px;
	margin: 0 5px;
}

#cookieData .cookie-close {
	background: transparent;
	border: none;
	color: black;
	float: right;
	height: 20px;
	opacity: 1;
	width: 20px;
	clear: both;
	display: block;
	line-height: 0;
}
#cookieData {
	padding: 20px;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
#cookieData::-webkit-scrollbar {
	display: none;
}

#cookieData p,
#cookieData div {
	text-align: left;
	font-size: 14px;
	letter-spacing: 0;
	opacity: 1;
	color: #707070;
}
#CookieDeclarationChangeConsent {
	padding: 20px 0;
}
#CookieDeclarationChangeConsent a {
	background-color: #0455bf;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
}

#CookieDeclarationUserStatusLabelWithdraw a {
	border: 1px solid #0455bf;
	background-color: #fff;
	color: #0455bf;
}

#cookieData .CookieDeclarationTable a {
	text-decoration: underline;
}

/* ***************** */

/* ** HOME BANNER ** */

/* ***************** */

#banner {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 80px 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-image: url('https://d2vgampz89jm7o.cloudfront.net/Hero+Image-Half+Blur.png');
	background-color: rgba(0, 0, 0, 0.53);
	background-blend-mode: darken;
	background-attachment: fixed;
	box-shadow: 1px 0 10px -5px #000;
}

#banner .banner-in {
	width: 98%;
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

#banner .banner-in h1 {
	font-family: 'Lato', sans-serif;
	font-size: 76px;
	font-weight: normal;
	color: #fff;
	margin: 0;
	padding: 0;
}

#banner .banner-in p {
	font-size: 24px;
	font-weight: normal;
	color: #fff;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	max-width: 560px;
	line-height: 45px;
}

#banner .banner-in button {
	background-color: #f15c08;
	margin: 20px 0 100px 0;
	padding: 30px;
	border-radius: 100%;
	border: 0;
	width: 220px;
	height: 220px;
	box-shadow: 0 10px 20px -5px #000;
	outline: 0;
	cursor: pointer;
	text-shadow: 0 0 10px -5px #000;
}

#banner .banner-in button:hover {
	background-color: #bf4600;
}

#banner .banner-in button h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	margin: 0;
	padding: 0;
	font-weight: normal;
	letter-spacing: 2px;
	color: #fff;
}

#banner .banner-in button p {
	font-size: 16px;
	font-weight: 700;
	margin: 20px 0 0 0;
	padding: 0;
	letter-spacing: 2px;
	color: #fff;
	line-height: 30px;
}

/* ************ */

/* ** SEARCH ** */

/* ************ */

#search {
	width: 100%;
	height: 600px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	box-shadow: 1px 0 10px -5px #000;
}

#search .noresults {
	width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#search .noresults .icon {
	width: 250px;
	height: 250px;
	background-image: url('/src/assets/noresults.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	margin: 0 auto;
}

#search .noresults .text {
	width: auto;
	height: auto;
	margin: 0 auto;
	padding: 50px 0 0 0;
}

#search .noresults .text h2 {
	font-size: 30px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: #2f97f2;
	letter-spacing: 3px;
	text-transform: uppercase;
}

#search .noresults .text span {
	font-size: 18px;
	font-weight: bold;
	color: #207ecf;
}

#search .noresults button {
	padding: 10px 20px;
	font-family: 'Montserrat', 'sans-serif';
	font-size: 16px;
	color: #fff;
	background-color: #0455bf;
	cursor: pointer;
	margin-top: 14px;
	border: none;
	border-radius: 3px;
}

#search .noresults button:hover {
	background-color: darkblue;
	border: none;
}

#search .search-in {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	display: flex;
}

#search .search-in .results {
	width: 40%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#search .search-in .results .header {
	width: 100%;
	height: 62px;
	margin: 0 auto;
	padding: 0;
	display: block;
	background-color: #f0f9fe;
	box-shadow: inset 0 0 10px -5px #f0f9fe;
}

#search .search-in .results .header h2 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding: 20px;
	color: #2f97f2;
}

#search .search-in .results .content {
	width: 100%;
	height: 537px;
	overflow: scroll;
}

#search .search-in .results .content .location {
	width: calc(100% - 40px);
	height: auto;
	margin: 20px auto;
	padding: 0;
	background-color: #f0f9fe;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: -10px 10px 20px -11px #bdbdbd;
	overflow: hidden;
}

#search .search-in .results .content .location h2 {
	font-size: 20px;
	font-weight: bold;
	display: block;
	margin: 0;
	padding: 20px;
	color: #2f97f2;
	position: relative;
}

#search .search-in .results .content .location h2 span {
	position: absolute;
	right: 18px;
	top: 24px;
	font-size: 14px;
	letter-spacing: 1px;
	color: #151515;
}

#search .search-in .results .content .location address,
#search .search-in .results .content .location p {
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	color: #222;
	padding: 0 15px 15px 50px;
	margin: 0;
	line-height: 30px;
	position: relative;
}

#search .search-in .results .content .location p {
	padding: 10px 20px 27px 20px;
}

#search .search-in .results .content .location address i,
#search .search-in .results .content .location p i {
	font-size: 20px;
	color: #2f97f2;
	margin-right: 10px;
}

#search .search-in .results .content .location address i {
	margin-right: 15px;
	position: absolute;
	left: 20px;
	top: 4px;
}

#search .maparea {
	width: 60%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

#search .uberBtn {
	position: relative;
	display: block;
	background: black;
	color: white;
	border-radius: 3px;
	padding: 8px;
	border: none;
	float: right;
	margin: 0 15px 15px;
}

#search .tooltipText {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

#search .uberBtn .tooltipText::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent;
}

#search .uberBtn:hover .tooltipText {
	visibility: visible;
	opacity: 1;
}

#cover {
	width: 100%;
	height: 100%;
	background-image: url('/src/assets/loading.gif');
	background-repeat: no-repeat;
	background-size: 100px 100px;
	background-position: center;
}
a{
	text-decoration: none;
    color: #000;
}
.btn {
	border: 1px solid transparent;
	color: #000;
	padding: 12px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	background: transparent;
}
.btn-edit{
	color: #0E5CC1;
	text-decoration: underline;
}
.btn-primary {
	background-color: #0455BF; 
	color: #fff; 
}
.btn-outline-primary{
	background-color: white; 
	color: #0455BF; 
	border: 1px solid #0455BF;
}
.btn-secondary{
	background-color: #F25C05; 
	color: #fff; 
}
.btn-ternary{
	background-color: white; 
	color: #0E5CC1; 
	font-weight: bold;
	border-radius: 4px;
	font-size: 12px;
	border: 2px solid #0E5CC1;
}
.dropdown{
	position: relative;
    margin: 16px;
    width: auto;
    display: inline-block;
}
.avatar {
	vertical-align: middle;
	width: 40px;
	height: 40px;
	border-radius: 50%;
  }
  .avatar-drop {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
	border-radius: 5px;
	right: 0;
    top: 50px;
	z-index: 3;
}
.avatar-btn{
	cursor: pointer;
	display: flex;
	align-items: center;
}
.avatar-btn p{
	font-size: 14px;
	margin: 0px 5px 0px 0px;
}
.absolute {
    position: absolute;
}
.ml-96{
	margin-left: 96px;
}
.w-56 {
    width: 14rem;
}
.h-auto {
    height: auto;
}
.list-group {
	list-style-type: none;
	padding: 0;
	margin: 0;
  }
  
.list-group .list-group-item {
	border: 1px solid #ddd;
	margin-top: -1px; /* Prevent double borders */
	background-color: #fff;
	padding: 12px;
	font-size: 14px;
	cursor: pointer;
  }
  .d-flex{
	  display: flex;
  }
  .justify-content-center{
	  justify-content: center;
  }
  .justify-content-between{
	justify-content: space-between;
}
  .align-items-center{
	  align-items: center;
  }
  .m-0{
	  margin: 0;
  }
  .profile-sec-left{
	height: 100%;
    box-shadow: 0px 3px 6px #00000029;
    background: #fff;
  }
 .profile-sec-2{
	 padding: 30px;
 } 
 .profile-sec-1{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding-bottom: 80px;
	position: relative;
	z-index: 1;
 }
 .profile-sec-1::after{
	 position: absolute;
	 content: "";
	 background-image: url('./assets/profile_back.svg');
	 height: 100%;
	 width: 100%;
	 top: 0;
	 z-index: -1;
	 background-size: cover;
	 background-position: top center;
	 background-repeat: no-repeat;
 }
 .profile-avatar{
	 width: 138px;
	 height: 138px;
	 background: #fff;
	 border-radius: 100%;
	 margin-bottom: 20px;
 }
 .profile-banner {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 80px 0;
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 30px;
	padding-right: 30px;
	background-size: cover;
	background-image: url('https://d2vgampz89jm7o.cloudfront.net/Hero+Image-Half+Blur.png');
	background-color: rgba(0, 0, 0, 0.53);
	background-blend-mode: darken;
	background-attachment: fixed;
	box-shadow: 1px 0 10px -5px #000;
}
.profile-banner .btn{
	padding: 30px 10px;
}
  .form-group{
	  display: flex;
	  flex-direction: column;
	  margin-bottom: 26px;
  }
  .form-group label{
	  font-size: 18px;
	  color: #0455BF;
	  font-weight: bold;
  }

  .form-control{
	  border: 1px solid #252759;
	  height: 40px;
	  border-radius: 3px;
	  padding: 10px 14px 10px 9px;
	  font-size: 17px;
	}
	input.form-control[disabled]{
		border: none;
		padding-left: 0;
		background: transparent;
	}	
	.form-control::-webkit-input-placeholder { /* Edge */
		color: #95989A;
	  }
	  
	  .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: #95989A;
	  }
	  
	  .form-control::placeholder {
		color: #95989A;
	  }
.fs-24{
	font-size: 24px;
}
.fs-22{
	font-size: 22px;
}
.fs-48{
	font-size: 48px;
}
.fs-29{
	font-size: 29px;
}
.fs-12{
	font-size: 12px;
}
.fw-med{
	font-weight: 500;
}
.text-white{
	color: #fff;
}
.text-c-primary{
	color: #0455BF;
}
.text-c-secondary{
	color: #252759;
}
.text-default{
	color: #95989A !important;
}
.mr-80{
	margin-right: 80px;
}
.mb-48{
	margin-bottom: 48px;
}
.mb-20{
	margin-bottom: 20px
}
.mb-30{
	margin-bottom: 30px;
}
.mr-30{
	margin-right: 30px;
}
.p-30{
	padding: 30px 40px;
}
.mt-25{
	margin-top: 25px;
}
.m-0{
	margin: 0 !important;
}
.mb-45{
	margin-bottom: 45px;
}
.triangle {
	position: relative;
	background-color: orange;
	text-align: left;
	border-top-right-radius: 30%;
	width:  10em;
	height: 10em;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle:before,
.triangle:after {
	width:  10em;
	height: 10em;
	border-top-right-radius: 30%;
}

.triangle {
	transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}
#tawkchat-minified-iframe-element, #tawkchat-minified-iframe-element html, #tawkchat-minified-iframe-element body {
    width: 320px !important;
}

.footer-tabs{
	width: 100%;
    background: #fff;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
	box-shadow: 0px 3px 6px #00000029;
	padding: 13px;
}
.footer-tabs .tab-link{
	padding: 8px 22px;
	font-size: 11px;
	color: #707070;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-tabs .tab-link i{
	font-size: 26px;
	padding-bottom: 5px;
}
.tab-link-active{
	background-color: #0455BF;
	color: #fff !important;
	border-radius: 11px;
}

@media only screen and (min-width: 768px) {
	.profile-sec-2{
		padding: 75px;
	}
}


@media only screen and (max-width: 600px) {
	
	.headerin{
		padding: 10px !important;
		justify-content: center !important;
	}

	.profile-avatar{
		height: 66px;
		width: 66px;
	}
	.profile-sec-2{
		padding: 38px;
	}
	.fs-22{
		font-size: 16px;
	}
}
