body {
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
/**************/
/***HEADER***/
/**************/
header {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 15px 0;
  box-shadow: 1px 0 10px -5px #000;
}

header .headerin {
  width: 98%;
  max-width: 1600px;
  height: 80px;
  margin: 0 auto;
  padding: 0;
}

header .headerin .logo {
  width: 215px;
  height: 100%;
  margin: 0;
  padding: 0;
  float: left;
  background-image: url("/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
/**************/
/***FOOTER***/
/**************/
footer {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 30px 0;
  background-color: #2f97f2;
}

footer .footerin {
  width: 98%;
  max-width: 1400px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  display: flex;
  color: #fff;
  letter-spacing: 1px;
}

footer .footerin h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
}

footer .footerin div:first-child a {
  color: #fff;
  background-color: #0557bd;
  border: 0;
  font-size: 18px;
  padding: 15px;
  margin: 30px 0;
  width: 150px;
  border-radius: 5px;
  letter-spacing: 2px;
  box-shadow: 0 0 10px -5px #000;
  cursor: pointer;
  text-decoration: none;
  display: block;
  text-align: center;
}

footer .footerin div:first-child a:hover {
  background-color: #003474;
}

footer .footerin ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .footerin ul li {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

footer .footerin ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

footer .footerin ul li a:hover {
  text-decoration: underline;
}

footer .footerin div {
  height: auto;
  margin: 0;
  padding: 0;
}

footer .footerin .w40 {
  width: 40%;
}

footer .footerin .w30 {
  width: 30%;
}
/******************/
/***COPYRIGHTS***/
/******************/
#copyrights {
  background-color: #1e2248;
}

#copyrights .copyrights-in {
  width: 98%;
  max-width: 1600px;
  height: auto;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
}

#copyrights .copyrights-in .copyrights-text {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  float: left;
  text-align: left;
}

#copyrights .copyrights-in .copyrights-text p {
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

#copyrights .copyrights-in .social-icons {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  float: right;
  text-align: right;
}

#copyrights .copyrights-in .social-icons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#copyrights .copyrights-in .social-icons ul li {
  display: inline;
  padding: 0;
  margin: 0 15px;
}

#copyrights .copyrights-in .social-icons ul li a {
  text-decoration: none;
  color: #fff;
}

#copyrights .copyrights-in .social-icons ul li a:hover {
  color: #2f97f2;
}
/*******************/
/***HOME BANNER***/
/*******************/
#banner {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 80px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url("/banner.png");
  background-attachment: fixed;
}

#banner .banner-in {
  width: 98%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#banner .banner-in h1 {
  font-size: 53px;
  font-weight: normal;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman" fangsong;
  text-shadow: 0px 0px 15px #000;
}

#banner .banner-in p {
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  margin: 0;
  padding: 20px 0 50px;
  letter-spacing: 1px;
  text-shadow: 0 0 15px #000;
}

#banner .banner-in button {
  background-color: #f15c08;
  margin: 20px 0 100px;
  padding: 30px;
  border-radius: 100%;
  border: 0;
  width: 220px;
  height: 220px;
  box-shadow: 0 10px 20px -5px #000;
  outline: 0;
  cursor: pointer;
  text-shadow: 0 0 10px -5px #000;
}

#banner .banner-in button:hover {
  background-color: #bf4600;
}

#banner .banner-in button h2 {
  font-size: 50px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  letter-spacing: 2px;
  color: #fff;
}

#banner .banner-in button p {
  font-size: 16px;
  margin: 20px 0 0;
  padding: 0;
  font-weight: normal;
  letter-spacing: 2px;
  color: #fff;
  line-height: 30px;
}
/**************/
/***SEARCH***/
/**************/
#search {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

#search .noresults {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#search .noresults .icon {
  width: 250px;
  height: 250px;
  background-image: url("/noresults.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin: 0 auto;
}

#search .noresults .text {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 50px 0;
}

#search .noresults .text h2 {
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #2f97f2;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#search .search-in {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

#search .search-in .results {
  width: 40%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#search .search-in .results .header {
  width: 100%;
  height: 62px;
  margin: 0 auto;
  padding: 0;
  display: block;
  background-color: #f0f9fe;
  box-shadow: inset 0 0 10px -5px #f0f9fe;
}

#search .search-in .results .header h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 20px;
  color: #2f97f2;
}

#search .search-in .results .content {
  width: 100%;
  height: 537px;
  overflow: scroll;
}

#search .search-in .results .content .location {
  width: calc(100% - 40px);
  height: auto;
  margin: 20px auto;
  padding: 0;
  background-color: #f0f9fe;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: -10px 10px 20px -11px #bdbdbd;
}

#search .search-in .results .content .location h2 {
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin: 0;
  padding: 20px;
  color: #2f97f2;
  position: relative;
}

#search .search-in .results .content .location h2 span {
  position: absolute;
  right: 18px;
  top: 24px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #151515;
}

#search .search-in .results .content .location address,
#search .search-in .results .content .location p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: #222;
  padding: 0 15px 15px 50px;
  margin: 0;
  line-height: 30px;
  position: relative;
}

#search .search-in .results .content .location p {
  padding: 10px 20px 27px 20px;
}

#search .search-in .results .content .location address i,
#search .search-in .results .content .location p i {
  font-size: 20px;
  color: #2f97f2;
  margin-right: 10px;
}

#search .search-in .results .content .location address i {
  margin-right: 15px;
  position: absolute;
  left: 20px;
  top: 4px;
}

#search .maparea {
  width: 60%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#cover {
  width: 100%;
  height: 100%;
  background-image: url("/loading.gif");
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: center;
}
